:root {
    --gradient: linear-gradient(180deg, #009aff, #ff00cc, #ffaa00);
    --colors-pageBackground: rgb(32, 32, 32);
    --colors-highContrast: rgb(192, 192, 192);
    --title-color: white;
    --article-margin: 1rem;
}

body,
html {
    height: 100%;
}

img,
video {
    display: block;
}

.card img,
#projects img {
    width: 100%;
}

html {
    margin: .5rem;
}

body {
    min-height: 100dvh;
    margin: auto;
    min-width: 300px;
    max-width: 750px;
    background-color: var(--colors-pageBackground);
    color: var(--colors-highContrast);
    font-family: system-ui, Helvetica Neue, sans-serif;
}

header {
    container-type: inline-size;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header h1 {
    font-size: calc(100cqw / 11.6);
}

#intro {
    position: relative;
}

#intro h2 {
    font-size: calc(100cqw / 25);
}

.links {
    position: absolute;
    top: -50%;
    right: 0;
    list-style: none;
}

.links li {
    margin: 0;
}


h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.85rem;
}

h4 {
    font-size: 1.3rem;
}

@media (max-width: 500px) {
    .links {
        display: block;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: var(--article-margin);
        top: initial;
        right: initial;
    }

    h2 {
        font-size: 7vw;
    }
}

em {
    font-style: italic;
}

a {
    text-decoration: underline;
}

a[target="_blank"]::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-left: .15rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.gradient-fade,
a:hover {
    background: var(--gradient);
    background-size: 600% 600%;
    -webkit-animation: GradientFade 6s ease infinite;
    -moz-animation: GradientFade 6s ease infinite;
    animation: GradientFade 6s ease infinite;
    backgroundclip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.scroll-container a:hover,
.scroll-container a {
    all: revert;
}

@-webkit-keyframes GradientFade {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 51% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

@-moz-keyframes GradientFade {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 51% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

@keyframes GradientFade {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 51% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

article {
    margin: var(--article-margin) 0;
    container-type: inline-size;
}

.title {
    color: var(--title-color);
}

p {
    /* margin: 1.5rem 0rem; */
}

.card p {
    /* margin: revert; */
}

a {
    cursor: pointer;
    font-weight: 500;
}

li {
    margin-left: 1rem;
}

li:has(>ul) {
    list-style-type: none;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details ul {
    flex: 1;
}

.details img {
    max-width: 20rem;
    max-height: 10rem;
}

.opus {
    margin-bottom: .1rem;
    display: flex;
    gap: .1rem;
    color: var(--title-color);
}

.logo-rapid,
.logo-mentor,
.logo-garmin,
.logo-opus {
    max-width: 15rem;
    max-height: 3rem;
}

.logo-rapid {
    margin-left: -1rem;
}

.logo-garmin {
    margin-top: -.75rem;
}

header h1 {
    font-weight: 700;
}

ul>ul {
    margin-left: 1rem;
}

.wip {
    position: relative;
    display: inline-block;
}

.wip:has(img):after,
.wip:has(video):after {
    content: "WIP Prototype: Visuals/layout not final";
    background: orange;
    color: #000;
    font-weight: 500;
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: 0 .25rem;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
}

.logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin: var(--article-margin) .5rem .5rem .5rem
}

@media (max-width: 500px) {
    .logos {
        grid-template-columns: repeat(1, 1fr);
    }
}

.logos article,
.img-gallery article {
    border: 1px solid white;
    height: 100%;
    border-radius: .5rem;
    background: #000;
    padding: 1rem;
}

.scroll-container {
    overflow: hidden;
    height: 300px;
}

.scroll-gallery {
    --scroll-gap: .25rem;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    animation: carousel 18s linear infinite;
    animation-delay: 250ms;
}

.scroll-gallery img,
.card .scroll-gallery img {
    --scroll-img-w: calc(50% - var(--scroll-gap)/2);
    max-width: var(--scroll-img-w);
    flex-basis: var(--scroll-img-w);
}

@keyframes carousel {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0%, -50%, 0);
    }
}

#features {
    margin-top: 2rem;
}

.logos article {
    margin: 0;
}

.logos article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid white;
    background: black;
    border-radius: .5rem;
    padding: 1rem;
    container-type: inline-size;
}

.card img,
.card video {
    /* max-width: 100cqw; */
    max-width: 100%;
}

.card img {
    border-radius: .5rem;
}

.card h2 {
    line-height: 1rem;
}

.card h2 a {
    text-decoration: none;
}

.card .list {
    margin: 0rem 1rem;
}

footer {
    position: fixed;
    bottom: -12px;
    right: 5px;
    margin-bottom: -4px;
    animation: peek 6s ease infinite;
}

@keyframes peek {
    70% {
        bottom: -12px;
    }

    80% {
        bottom: 0;
    }

    99% {
        bottom: 0;
    }

    100% {
        bottom: -12px;
    }
}